* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
  min-height: 100vh;
}

body {
  margin: 0 20px 20px;
}

main {
  border: 1px solid black;
  border-top: 0;
  overflow: auto; /* avoids collapsing margin issue for border */
}
