<header>
  <div class="spacing"></div>
  <nav>
    <a href="/">Chris Young</a>
    <ul>
      <li>
        <a href="/">Link 1</a>
      </li>
      <li>
        <a href="/">Link 2</a>
      </li>
      <li>
        <a href="/">Link 3</a>
      </li>
    </ul>
  </nav>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    width: 100%;
  }

  nav {
    border: 1px solid var(--black);
    padding: 20px 25px;
    display: flex;
  }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  .spacing {
    background-color: var(--cream);
    height: 20px;
  }
</style>
