<header>
  <div class="spacing"></div>
  <nav>
    <a href="/">Chris Young</a>
    <a href="/">Link 1</a>
  </nav>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    width: 100%;
  }
  nav {
    background-color: blueviolet;
    border: 1px solid black;
    padding: 20px 25px;
  }
  .spacing {
    background-color: #f6f6f6;
    height: 20px;
  }
</style>
